@using Friends.Core.Application.ViewModels.User;
@model LoginViewModel
@{
    ViewData["Title"] = "Log in";
}
<div class="d-flex justify-content-center ">

    <div class="card border-2 p-5 shadow glass">
    <form method="post" asp-controller="User" asp-action="Login">
            <div>
            <h3 class="justify-self-center">Sing In</h3>
            <span class="text-danger">@ViewBag.User</span>
                <input class="form-control col-4 m-3 ms-0 rounded-pill" asp-for="UserName" placeholder="Username" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div>
                <input class="form-control col-4 m-3 ms-0 rounded-pill" asp-for="Password" placeholder="Password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary mb-3 m-auto rounded-pill">Log in</button>
            <a class="text-primary ms-3 me-3" asp-controller="User" asp-action="ResetPassword">forgot your password?</a>
    </form>
    <div class="row">
        <a asp-controller="User" asp-action="SigUp" class="btn btn-outline-success mb-1 ms-3 me-3 rounded-pill">Sign up</a>

    </div>
    </div>
</div>




