@using Friends.Core.Application.ViewModels.User;
@model LoginViewModel

<div class="d-flex justify-content-center">


    <div class="card-content rounded-3 glass">
        <div class="card-header p-5 pb-0 border-white">
            <h1 class="card-title">Passoword Recovery</h1>
        </div>
        <div class="card-body p-5 ">
            <p>To restablish your password just type your username and new password</p>
            <form method="post" asp-controller="User" asp-action="ResetPassword">
                <div class="form-floating mb-3">
                    <input asp-for="UserName" class="form-control rounded-3" id="userinput" placeholder="Username" />
                    <label for="userinput">Username</label>
                </div>
                <span class="text-danger" asp-validation-for="UserName"></span>   
                <span class="text-@ViewBag.Text">@ViewBag.Reset </span>
                <div class="form-floating mb-3">
                    <input asp-for="Password" class="form-control rounded-3" id="passinput" placeholder="Password" />
                    <label for="passinput">Password</label>
                </div>
        <span class="text-danger" asp-validation-for="Password"></span>
        <button type="submit" class="btn btn-primary w-100 p-2 mb-2">Actualizar contraseña</button>
                <a class="btn btn-outline-secondary w-100 p-2 mb-2" asp-controller="User" asp-action="Login" >Cancel</a>
            </form>
        </div>
    </div>
        </div>
    </div>